@model TestConnDbCommand.Models.Provinces

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    @ViewBag.InsRs
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
